<!-- layouts/_default/single.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/svelte/{{ .Site.Data.svelte.css }}" />
    <script type="module" defer src="/svelte/{{ .Site.Data.svelte.js }}" /></script>
</head>
<body>
    <header>
        <h1>{{ .Site.Title }}</h1>
    </header>

    <main>
        <h2>{{ .Title }}</h2>
        <p>{{ .Date }}</p>
        <div>
            {{ .Content }}
        </div>
    </main>

    <footer>
        <p>&copy; {{ .Site.Title }}</p>
    </footer>
</body>
</html>
